# Preprocessing

Our Dataframes:

`flights`
`airlines`
`airports`
`airports2`
`countries`
`planes`
`routes`

In [1]:
import pandas as pd

path = "../data/"

flights = pd.read_csv(path+"raw/271014744_T_ONTIME_REPORTING.csv")
airlines = pd.read_csv(path+"raw/airlines.dat.txt", header=0, names=["Airline ID", "Name", "Alias", "IATA", "ICAO", "Callsign", "Country", "Active"])
airports = pd.read_csv(path+"raw/airports.dat.txt", header=0, names=["Airport ID", "Name", "City", "Country", "IATA", "ICAO", "Latitude", "Longitude", "Altitude", "Timezone", "DST", "Tz Database", "Type", "Source"])
airports2 = pd.read_csv(path+"raw/airports-extended.dat.txt", header=0, names=["Airport ID", "Name", "City", "Country", "IATA", "ICAO", "Latitude", "Longitude", "Altitude", "Timezone", "DST", "Tz Database", "Type", "Source"])
countries = pd.read_csv(path+"raw/countries.dat.txt", header=0, names=["Name", "ISO Code", "DAFIF Code"])
planes = pd.read_csv(path+"raw/planes.dat.txt", header=0, names=["Name", "IATA Code", "ICAO Code"])
routes = pd.read_csv(path+"raw/routes.dat.txt", header=0, names=["Airline", "Airline ID", "Source Airport", "Source Airport ID", "Destination Airport", "Destination Airport ID", "Codeshare", "Stops", "Equipment"])

In [2]:
flights.head(2)

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 16
0,2019-01-01,9E,MSP,MKE,1122,1155.0,1251,1259.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,9E,ATL,PHF,954,1002.0,1137,1132.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
airlines.head(2)

   Airline ID            Name Alias IATA ICAO Callsign        Country Active
0           1  Private flight    \N    -  NaN      NaN            NaN      Y
1           2     135 Airways    \N  NaN  GNL  GENERAL  United States      N

In [4]:
airports.head(2)

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz Database,Type,Source
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82679,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports

In [5]:
airports2.head(2)

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz Database,Type,Source
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82679,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports

In [6]:
countries.head(2)

                  Name ISO Code DAFIF Code
0                Aruba       AW         AA
1  Antigua and Barbuda       AG         AC

In [7]:
planes.head(2)

                                           Name IATA Code ICAO Code
0  Aerospatiale (Sud Aviation) Se.210 Caravelle       CRV      S210
1                  Aerospatiale SN.601 Corvette       NDC      S601

In [8]:
routes.head(2)

,Airline,Airline ID,Source Airport,Source Airport ID,Destination Airport,Destination Airport ID,Codeshare,Stops,Equipment
0,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,MRV,2962,NaN,0,CR2

In [9]:
print(flights.shape)
print(airlines.shape)
print(airports.shape)
print(airports2.shape)
print(countries.shape)
print(planes.shape)
print(routes.shape)

(583985, 17)
(6161, 8)
(7697, 14)
(12667, 14)
(260, 3)
(245, 3)
(67662, 9)

# Data Tansformation
Intersection of `airports` and `airports2`